<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Manager</title>
    <link rel="stylesheet" href="/styles/all-events.css">
    <link rel="shortcut icon" href="/images/christmas-pic1.png" type="image/x-icon">
    <script src="/scripts/countdown.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a href="/">
            <img src="/images/christmas-pic1.png">
        </a>
        <h1>Event Manager</h1>
    </header>

    <main>
        <h3>All events:</h3>
        <ul>
            <% data.forEach(event => { %>
                <li>
                    <strong>Event title: <%= event.title %></strong>
                    <div class="countdown" data-event-id="<%= event.id %>" data-event-date="<%= event.event_date %>">
                        <p>Starts in: <span class="countdown-timer"></span></p>
                    </div>
                    
                    <p>Event description: <%= event.description %></p>
                    <p>Event date: <%= event.event_date %></p>
                    
                    <form action="/all-events/<%= event.id %>/delete" method="POST">
                        <button type="submit">Delete Event</button>
                    </form>
                </li>
            <% }); %>
        </ul>
    </main>

</body>

</html>